@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,200;8..144,400;8..144,600&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Merriweather+Sans");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Serif";
  text-decoration: none;
}

body {
  background-color: #2D2F2F;
}

.header {
  background-color: #ffff00;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 85px;
  width: 100%;
  padding: 5px 10%;
}

.navlinks {
  list-style: none;
  position: relative;
  display: flex;
}
.navlinks li {
  display: inline-block;
  padding: 0 20px;
  background-color: #ffff00;
}
.navlinks a {
  font-size: 700;
  color: black;
  text-decoration: none;
  margin-left: 40px;
  font-weight: 400;
}

h1 {
  font-size: 50px;
  color: white;
  text-align: center;
  margin: 20px;
}

.text {
  height: 125vh;
  display: flex;
  align-items: center;
  padding: 0 10%;
  position: relative;
}

.textBox {
  display: flex;
  align-items: center;
  height: 100%;
  position: absolute;
  right: 0px;
  left: 0;
}
.textBox h2 {
  font-size: 42px;
  width: 500px;
  position: absolute;
  margin-left: 50px;
  color: white;
  top: 60px;
}
.textBox img {
  width: 100%;
  position: absolute;
  top: 0px;
}
.textBox p {
  font-size: 24px;
  color: white;
  display: flex;
  width: 600px;
  position: absolute;
  right: 40px;
  bottom: 50px;
  background-color: black;
}

.origen {
  height: 750px;
  margin-top: 50px;
}

h3 {
  color: white;
  font-size: 42px;
  display: flex;
  margin-left: 200px;
}

.intro {
  color: white;
  font-size: 22px;
  width: 500px;
  position: relative;
  left: 50px;
  margin-top: 100px;
  text-align: center;
}

.origenimg {
  padding-left: 20px;
  position: relative;
  left: 550px;
  bottom: 260px;
}

.texto {
  color: white;
  font-size: 16px;
  width: 1200px;
  padding: 50px;
  position: relative;
  bottom: 250px;
  left: 80px;
}

.trajeimg {
  width: 650px;
  position: relative;
  left: 600px;
  bottom: 180px;
}

.trajetext {
  color: white;
  font-size: 16px;
  width: 1200px;
  padding: 50px;
  position: relative;
  bottom: 150px;
  left: 80px;
}

.habilidades {
  height: 800px;
}

.habiimg {
  width: 400px;
  height: 700px;
  position: relative;
  left: 800px;
  top: 50px;
}

.habitexto {
  color: white;
  font-size: 22px;
  width: 500px;
  position: relative;
  left: 50px;
  bottom: 600px;
}

.items {
  color: white;
  font-size: 20px;
  text-align: center;
}
.items h4 {
  font-size: 42px;
  position: relative;
  right: 450px;
}
.items ul {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-column-gap: 20px;
}
.items li {
  padding: 20px;
  width: 400px;
  margin: 50px;
  display: flex;
  border: #ffff00 1px solid;
}

/*Villanos*/
.villano p {
  color: white;
  font-size: 24px;
  text-align: center;
  margin: 50px;
  position: relative;
  left: 10px;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(4, 325px);
  grid-template-rows: repeat(5, 250px);
  grid-gap: 10px;
}

.imagen {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 5px;
}
.imagen:hover {
  transform: scale(1.5);
}

.presentacion {
  padding: 20px;
  margin-left: 200px;
}
.presentacion img {
  width: 800px;
  height: 400px;
  display: flex;
  margin-bottom: 30px;
  margin-top: 30px;
  object-fit: contain;
}
.presentacion img:hover {
  transform: scale(130%);
}
.presentacion p {
  color: white;
  font-size: 24px;
  font-weight: 200;
  width: 750px;
  margin: 30px;
  text-justify: center;
}

.personaje {
  margin: 50px;
}

/*Logo*/
.encabezado p {
  color: white;
  font-size: 24px;
  text-align: center;
  margin: 50px;
  position: relative;
  left: 10px;
}
.encabezado iframe {
  width: 100%;
  height: 500px;
}

.logo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 50px;
}
.logo h3 {
  height: 100px;
  margin-left: 150px;
  margin-top: 50px;
  margin-bottom: 20px;
}
.logo p {
  color: white;
  font-size: 20px;
  width: 700px;
  margin: 50px;
  position: relative;
  top: 150px;
}
.logo img {
  width: 500px;
  position: relative;
  top: -80px;
}

.logo2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 50px;
}
.logo2 h3 {
  height: 100px;
  margin-left: 150px;
  margin-top: 50px;
}
.logo2 p {
  color: white;
  font-size: 20px;
  width: 700px;
  margin: 50px;
  position: relative;
  top: 150px;
}
.logo2 img {
  width: 500px;
  position: relative;
  top: -200px;
}

/*Interpretes*/
.personaje p {
  color: white;
  font-size: 20px;
  padding: 50px;
}
.personaje iframe {
  width: 70%;
  position: relative;
  left: 180px;
}

.personajeimg {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 10px;
}
.personajeimg img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  margin-right: 10px;
}

/*Filmografia*/
.encabezado iframe {
  justify-content: center;
  width: 100%;
}

.poster {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 10px;
}
.poster img {
  width: 100%;
  margin: 20px;
  object-fit: fill;
}

.peliculas {
  display: grid;
  grid: 40px 40px 1fr;
}
.peliculas h3 {
  position: relative;
  left: -50px;
  top: 50px;
  padding: 20px;
}
.peliculas p {
  font-size: 16px;
  justify-content: center;
}

/*index*/
@media (max-width: 500px) {
  .header {
    padding: 5px 5%;
  }
  .navlinks {
    flex-direction: column;
    align-items: center;
  }
  .navlinks li {
    font-size: 12px;
  }
  h1 {
    font-size: 50px;
    color: white;
    text-align: center;
    margin: 20px;
  }
  .text {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5%;
    position: relative;
  }
  .textBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    position: relative;
    right: 0;
    left: 0;
  }
  .textBox h2 {
    font-size: 24px;
    width: 100%;
    text-align: center;
    color: white;
    margin: 20px 0;
    position: relative;
    top: 100px;
  }
  .textBox img {
    width: 100%;
  }
  .textBox p {
    font-size: 24px;
    color: white;
    width: 100%;
    padding: 20px;
    position: relative;
    top: 100px;
    left: 5px;
    margin: 50px 0;
    text-align: center;
  }
  .origen,
  .habilidades,
  .items {
    height: auto;
  }
  .origenimg,
  .habiimg {
    width: 100%;
    height: auto;
    position: relative;
    left: 0;
    bottom: 0;
    top: 0;
  }
  h3,
  .intro,
  .texto,
  .trajeimg,
  .trajetext,
  .habitexto,
  .habiimg,
  .habilidades,
  .items,
  .habilidades,
  .trajetext {
    width: 100%;
    text-align: center;
    margin: 20px 0;
    position: relative;
    left: 0;
    bottom: 0;
    padding: 20px;
  }
  .texto,
  .trajetext {
    padding: 20px;
  }
}
/*villanos*/
@media (max-width: 500px) {
  .villano p {
    color: white;
    font-size: 24px;
    text-align: center;
    margin: 20px;
    position: relative;
    left: 0;
  }
  .galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 10px;
  }
  .imagen {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 5px;
  }
  .imagen:hover {
    transform: scale(1);
  }
  .presentacion {
    padding: 20px;
    margin-left: 0;
    text-align: center;
  }
  .presentacion img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .presentacion img:hover {
    transform: scale(1);
  }
  .presentacion p {
    color: white;
    font-size: 16px;
    font-weight: 200;
    width: 100%;
    margin: 20px 0;
    text-align: justify;
  }
  .personaje {
    margin: 20px;
  }
  .galeria {
    grid-template-columns: 1fr;
  }
}
/*logo*/
@media screen and (max-width: 500px) {
  .encabezado p {
    color: white;
    font-size: 24px;
    text-align: center;
    margin: 10px;
    position: relative;
    left: 0;
  }
  .encabezado iframe {
    width: 100%;
    height: 300px;
  }
  .logo,
  .logo2 {
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px;
  }
  .logo h3,
  .logo2 h3 {
    height: auto;
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
  }
  .logo p,
  .logo2 p {
    color: white;
    font-size: 16px;
    width: 100%;
    margin: 20px 0;
    position: relative;
    top: 0;
  }
  .logo img,
  .logo2 img {
    width: 100%;
    position: relative;
    top: 0;
  }
}
/*Interpretes*/
@media screen and (max-width: 500px) {
  .personaje p {
    color: white;
    font-size: 16px;
    padding: 20px;
  }
  .personaje iframe {
    width: 100%;
    position: relative;
    left: 0;
    margin-left: 0;
  }
  .personajeimg {
    display: grid;
    grid-template-columns: 1fr;
    margin: 10px;
  }
  .personajeimg img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-right: 0;
  }
}
/*Filmografìa*/
@media (max-width: 500px) {
  .encabezado iframe {
    width: 100%;
    height: auto;
  }
  .poster {
    display: grid;
    grid-template-columns: 1fr;
    margin: 10px;
  }
  .poster img {
    width: 100%;
    margin: 20px;
    object-fit: cover;
  }
  .peliculas {
    display: grid;
    grid-template-rows: auto auto 1fr;
  }
  .peliculas h3 {
    position: relative;
    left: 0;
    top: 0;
    padding: 20px;
    text-align: center;
  }
  .peliculas p {
    font-size: 16px;
    text-align: center;
  }
  .encabezado iframe {
    height: 200px;
  }
  .poster img {
    margin: 10px;
  }
}
main {
  height: 100vh;
  width: 100vw;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Merriweather Sans", sans-serif;
}
main #errorText {
  font-size: 22px;
  margin: 14px 0;
}
main #errorText #errorLink {
  font-size: 20px;
  padding: 12px;
  border: 1px solid;
  color: #000;
  background-color: transparent;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}
main #errorText #errorLink:hover, main #errorText #errorLink:active {
  color: #fff;
  background: #000;
}
main #g6219 {
  transform-origin: 85px 4px;
  animation: an1 12s 0.5s infinite ease-out;
}

@keyframes an1 {
  0% {
    transform: rotate(0);
  }
  5% {
    transform: rotate(3deg);
  }
  15% {
    transform: rotate(-2.5deg);
  }
  25% {
    transform: rotate(2deg);
  }
  35% {
    transform: rotate(-1.5deg);
  }
  45% {
    transform: rotate(1deg);
  }
  55% {
    transform: rotate(-1.5deg);
  }
  65% {
    transform: rotate(2deg);
  }
  75% {
    transform: rotate(-2deg);
  }
  85% {
    transform: rotate(2.5deg);
  }
  95% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0);
  }
}

/*# sourceMappingURL=style.css.map */
